* {
  box-sizing: border-box;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: rgb(99, 99, 99);
}

.section__menu-color-white {
  color: #fff;
}

.btn {
  margin: 30px auto 0;
  display: block;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: rgb(189, 18, 18);
  color: white;
  text-decoration: none;
}

.btn:hover {
  background: rgb(238, 103, 103);
  color: #fff;
}

.drawer-nav {
    display: none;
  }

  .menu{
    display: none;
  }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}

.header__title {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  font-size: 30px;
}

.header__tittle__list__item {
  display: inline-block;
  padding: 5px 5px;
  font-size: 15px;
}

.mv {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/mv.png) center / cover;
  color: #fff;
}

.mv__top__ttl {
  text-align: center;
  font-size: 30px;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blog__item {
  width: 30%;
  margin-right: 20px;
  margin-top: 100px;
}

.blog__item__link{
  text-decoration: none;
}

.blog__item:first-child{
  margin: 0px 20px;
  margin-top: 100px;
}

.blog__item:last-child{
  margin-right: 0px;
}

img {
  width: 100%;
  height: auto;
}

.wrap {
  width: 85%;
  margin: 0 auto;
}

.blog__item-date {
  margin: 10px 0px;
}

.blog__item-ttl {
  font-size: 20px;
}

.section__contact {
  text-align: center;
  padding: 80px 0;
  margin-top: 100px;
  background-color: rgb(221, 221, 221);
}

.section__contact-ttl {
  font-size: 30px;
}

.section__contact-text {
  margin: 20px 0;
}

.footer {
  padding: 20px 0;
  color: #fff;
  background-color: #222;
}

.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 8px;
  width: 85%;
  margin: 0 auto;
}

.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
}

.fooetr-list {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.fooetr-list:hover{
  color: rgb(180, 180, 180);
}

.footer-nav-item:after {
  content: "|";
  display: inline-block;
  padding: 0px 10px;
}

.footer-nav-item {
  padding: 0px 0px;
}

@media screen and (max-width: 768px) {

  a{
    text-decoration: none;
    color: #000;
  }

  .header__nav {
    display: none;
  }

  .menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 10;
  }

  .menu-line-bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
    bottom: 0;
  }

  .menu-line-top {
    top: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
    bottom: 0;
  }

  .menu-line-middle {
    top: 14px;
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
    bottom: 0;
  }

  .drawer-nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: white;
    transition: 0.7s;
  }

  .drawer-nav-list {
    padding-top: 80px;
    text-align: center;
  }

  .drawer-nav-item {
    margin-top: 40px;
    color: #0033cc;
    font-size: 18px;
  }

  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .in {
    transform: translateX(100%);
  }

  .blog__item{
    width: 100%;
  }

  .wrap {
    margin: 0 auto;
}
}